.footer-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.25rem;
    background-color: #2A282A;
    padding: 2.5rem;
    margin-top: 40px;
    border-top: 4px solid #BF0D3C;
}

.footer-class img {
    width: 12.5rem;
    height: auto;
}

.footer-class a {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    border-bottom: 2px solid transparent;
}

.footer-class a:hover {
    color: #BF0D3C;
    border-bottom: 2px solid #BF0D3C;
    transition: 1s;
}

@media (max-width: 555px) {
    .footer-class img {
        width: 150px;
        height: auto;
    }

    .footer-class a {
        font-size: 20px;
    }
}

@media (max-width: 435px) {
    .footer-class {
        padding: 10px 20px;
    }

    .footer-class img {
        width: 100px;
        height: auto;
    }

    .footer-class a {
        font-size: 18px;
    }
}

@media (max-width: 350px) {
    footer {
        width: auto;
    }
}