/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Part */
.header-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.25rem;
    background-color: #2A282A;
    padding: 2.5rem;
    border-bottom: 4px solid #BF0D3C;
}

.header-class img {
    width: 12.5rem;
    height: auto;
}

.header-a-group {
    display: flex;
    gap: 40px;
}

.header-a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #fff;
    border-bottom: 4px solid transparent;
    padding: 0.625rem;
}

.header-a:hover {
    border-bottom: 4px solid #BF0D3C;
    color: #BF0D3C;
    transition: 0.6s;
}

@media (max-width: 800px) {
    .header-a-group {
        gap: 10px;
    }
}

@media (max-width: 545px) {
    .header-class {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .header-class img {
        width: 150px;
        height: auto;
        padding: 10px;
    }
}

@media (max-width: 400px) {
    .header-class {
        padding: 0;
        width: auto;
    }
}