/* Importing another CSS files */
@import url(css/header.css);
@import url(css/main.css);
@import url(css/footer.css);

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}